<article id="<%= dom_id user %>">
    <tr>
      <td>
        <img tag src="../../assets/box.png" style="width: 50px;" />
      <td>
        <h1 style="padding-left: 20px;"><%= user.name %></h1>
      </td>
      <td>
        <p style="padding: 40px 0 0 30px;">Number of posts: <%= user.posts_counter %></p>
      </td>
    </tr>
</article>
