<div id="users">
  <% if login_signed_in? %>
  <%= link_to "log Out", destroy_login_session_path, method: :delete %>
  <% else %>
  <%= link_to "log In", new_login_session_path %>
  <% end %>
  <ul class="listContent">
    <% @users.each do |user| %> <%= render user %> <% end %>
  </ul>
</div>
