<h1>Here are the details of the selected user.</h1>

<%= render @user %>

<% @posts.each do |post| %>
    <p>
    <strong>Title:</strong>
    <%= post.title %>
  </p>

  <p>
    <strong>Text:</strong>
    <%= post.text %>
  </p>
<% end %>
