<div id="posts">
<ul class="listContent">
  <%= render "users/user", user: @posts.user %>
  <% @posts.each do |post| %>
  <%= render post, comments: post.comments %>
<% end %>
</ul>
<button>Paddington</button>
</div>
